.details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #1c232b;
  width: 100%;
  gap: 20px;
}

.details-card img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.details-card span {
  background-color: #114411;
  color: rgb(80, 211, 80);
  padding: 8px 12px;
  margin-top: 15px;
  width: max-content;
  border-radius: 5px;
}

.details-card .button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #fb9e6a;
  color: #ad4c15;
}

.details-card .button:hover {
  background-color: #ad4c15;
  color: #fb9e6a;
}
