*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: #b9b9b9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0d0d0b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button-primary {
  background-color: #fb9e6a;
  color: #ad4c15;
}

.button-primary:hover {
  background-color: #ad4c15;
  color: #fb9e6a;
}

.button-secondary {
  background-color: #3e86af;
  color: #16435e;
}

.button-secondary:hover {
  background-color: #16435e;
  color: #3e86af;
}

.movies-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
}
